<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IPath" value="E:\PTPL\ADD ONS\ParcelEntry\ParcelEntry\PTPLlogo.png"/>
    <add key="SaveXML" value="E:\PTPL\ADD ONS\ParcelEntry\ParcelEntry\bin\ParcelEntry.xml"/>
    <add key="SacCode" value="-555"/>
    <add key="Description" value="Testing For Parcel Entry Add On."/>
    <add key="GSTCODE" value="GST@0"/>
    <add key="ACCCODE" value="200202002"/>
  </appSettings>
</configuration>